<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand">BETTiNG | ADMIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink='/'>Dashboard</a>
      <a class="nav-item nav-link" href="#" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink='leaderboard'>Leaderboard</a>
      <a class="nav-item nav-link" href="#" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink='sign-in'>Logout</a>
    </div>
  </div>
</nav>
